In [11]:
import pandas as pd
!pip install -i https://test.pypi.org/simple/ lambdata-thomasmcdaniel91==0.0.1
import add_column
import pretty_nulls
df = pd.read_csv(r"C:\Users\Thomas\Datasets\Islander_data.csv")
df.head()

Looking in indexes: https://test.pypi.org/simple/
Requirement already satisfied: lambdata-thomasmcdaniel91==0.0.1 in c:\users\thomas\.virtualenvs\lambdata-thomasmcdaniel91-2d9ieywk\lib\site-packages (0.0.1)

,first_name,last_name,age,Happy_Sad_group,Dosage,Drug,Mem_Score_Before,Mem_Score_After,Diff
0,Bastian,Carrasco,25,H,1,A,63.5,61.2,-2.3
1,Evan,Carrasco,52,S,1,A,41.6,40.7,-0.9
2,Florencia,Carrasco,29,H,1,A,59.7,55.1,-4.6
3,Holly,Carrasco,50,S,1,A,51.7,51.2,-0.5
4,Justin,Carrasco,52,H,1,A,47.0,47.1,0.1

In [12]:
names = list(df['last_name'])

In [15]:

df2 = add_column.add_column(df, names, 'last')
df2.head()

,first_name,last_name,age,Happy_Sad_group,Dosage,Drug,Mem_Score_Before,Mem_Score_After,Diff,last
0,Bastian,Carrasco,25,H,1,A,63.5,61.2,-2.3,Carrasco
1,Evan,Carrasco,52,S,1,A,41.6,40.7,-0.9,Carrasco
2,Florencia,Carrasco,29,H,1,A,59.7,55.1,-4.6,Carrasco
3,Holly,Carrasco,50,S,1,A,51.7,51.2,-0.5,Carrasco
4,Justin,Carrasco,52,H,1,A,47.0,47.1,0.1,Carrasco

In [16]:
pretty_nulls.pretty_nulls(df)

The column first_name has 0 null values.
The column last_name has 0 null values.
The column age has 0 null values.
The column Happy_Sad_group has 0 null values.
The column Dosage has 0 null values.
The column Drug has 0 null values.
The column Mem_Score_Before has 0 null values.
The column Mem_Score_After has 0 null values.
The column Diff has 0 null values.