In [15]:
import pandas as pd
!pip install -i https://test.pypi.org/simple/ lambdata-thomasmcdaniel91
import add_column
import pretty_nulls
df = pd.read_csv(r"C:\Users\Thomas\Datasets\Islander_data.csv")
df.head()

Looking in indexes: https://test.pypi.org/simple/
Requirement already satisfied: lambdata-thomasmcdaniel91 in c:\users\thomas\anaconda3\lib\site-packages (0.0.1)

,first_name,last_name,age,Happy_Sad_group,Dosage,Drug,Mem_Score_Before,Mem_Score_After,Diff
0,Bastian,Carrasco,25,H,1,A,63.5,61.2,-2.3
1,Evan,Carrasco,52,S,1,A,41.6,40.7,-0.9
2,Florencia,Carrasco,29,H,1,A,59.7,55.1,-4.6
3,Holly,Carrasco,50,S,1,A,51.7,51.2,-0.5
4,Justin,Carrasco,52,H,1,A,47.0,47.1,0.1

In [16]:
names = list(df['last_name'])

In [17]:

df2 = add_column.add_column(df, names, 'last')
df2.head()

,first_name,last_name,age,Happy_Sad_group,Dosage,Drug,Mem_Score_Before,Mem_Score_After,Diff,last
0,Bastian,Carrasco,25,H,1,A,63.5,61.2,-2.3,Carrasco
1,Evan,Carrasco,52,S,1,A,41.6,40.7,-0.9,Carrasco
2,Florencia,Carrasco,29,H,1,A,59.7,55.1,-4.6,Carrasco
3,Holly,Carrasco,50,S,1,A,51.7,51.2,-0.5,Carrasco
4,Justin,Carrasco,52,H,1,A,47.0,47.1,0.1,Carrasco

In [18]:
pretty_nulls.pretty_nulls(df)

The column first_name has 0 null values.
The column last_name has 0 null values.
The column age has 0 null values.
The column Happy_Sad_group has 0 null values.
The column Dosage has 0 null values.
The column Drug has 0 null values.
The column Mem_Score_Before has 0 null values.
The column Mem_Score_After has 0 null values.
The column Diff has 0 null values.

In [27]:
import my_lambdata

In [20]:
new_df = Additions(df, names, 'last')
new_df = new_df.exten_df(df, names, 'last')

NameError: name 'Additions' is not defined

In [21]:
new_df.head()

NameError: name 'new_df' is not defined

In [22]:
pip install -i https://test.pypi.org/simple/ lambdata-mtoce==1.0.1

Looking in indexes: https://test.pypi.org/simple/
Requirement already satisfied: lambdata-mtoce==1.0.1 in c:\users\thomas\anaconda3\lib\site-packages (1.0.1)
Note: you may need to restart the kernel to use updated packages.

In [23]:
df = pd.read_csv('https://raw.githubusercontent.com/mtoce/Build2-Project/master/astros_bangs_20200127.csv')

In [24]:
from my_lambdata import cm

In [25]:
y_actual = [2, 0, 2, 2, 0, 1, 1, 2, 2, 0, 1, 2]
y_predicted = [0, 0, 2, 1, 0, 2, 1, 0, 2, 0, 2, 2]
cm = cm.c_matrix(y_true=y_actual, y_pred=y_predicted)
cm2 = cm.confusion_matrix(y_true=y_actual, y_pred=y_predicted)
print(cm2)

Predicted 0  Predicted 1  Predicted 2
Actual 0          3.0          0.0          0.0
Actual 1          0.0          1.0          2.0
Actual 2          2.0          1.0          3.0